body {
    margin: 0;
    ;
  }
  .main-wrapper {
    background-color: lime;
    background-image: 
      linear-gradient(to bottom, #000000ff, #00000055, #000000bb),
      url(./pics/tinderBG.webp) ;
    height: 100vh;
  }
  header {
    height: 20%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: white;
  }
  .header-left {
    display: flex;
    height: 80%;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .tinder {
    font-size: 48px;
    font-weight: 700;
  }
  .navbar {
  
    display: flex;
    margin: 24px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .header-right {
    display: flex;
    align-items: center;
    height: 80%;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    gap: 24px;
  }
  .language {
    margin: auto;
  }
  .language button {
    background-color: #00000000;
    border: none;
    border-radius: 36px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    padding: 12px 36px;
  }
  .login {
    margin: auto;
  }
  .login button {
    background-color: white;
    border: 1px solid black;
    border-radius: 36px;
    font-size: 24px;
    color: black;
    font-weight: 700;
    padding: 12px 36px;
  }
  .action-area {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 100px;
    font-weight:700;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto
  }
  .action-area button {
    background-color: salmon;
    border-radius: 48px;
    border: solid 1px black;
    font-size: 36px;
    color: white;
    padding: 24px 48px;
  }
 